.order-container {
  position: relative;
  background-color: var(--bg-color);
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

.background-angle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--header-bg);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
  z-index: 0;
}

.order-page {
  background-color: var(--bg-color);
  padding: 88px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.order-title {
  font-size: 50px;
  color: var(--accent-color);
  margin-bottom: 40px;
  font-weight: 400;
  letter-spacing: 1.65px;
}

.order-list {
  width: 1200px;
}

.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--box-bg);
  padding: 16px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  margin-bottom: 20px;
  height: 200px;
  color: var(--text-color);
}

.order-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
  padding-left: 20px;
}

.order-info {
  flex-grow: 1;
  margin-left: 20px;
}

.order-name {
  font-size: 18px;
  color: var(--text-color);
  display: block;
  margin-bottom: 8px;
}

.order-price {
  font-size: 18px;
  color: var(--accent-color);
}

.order-controls {
  display: flex;
  align-items: center;
  gap: 57px;
}

.order-quantity {
  width: 60px;
  height: 45px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  background-color: var(--input-bg);
  color: var(--text-color);
  text-align: center;
  margin: 0 16px;
}

.order-remove {
  width: 60px;
  height: 45px;
  margin-left: 20px;
  margin-right: 15px;
  background-color: var(--button-bg);
  border: none;
  border-radius: 6px;
  color: var(--button-text);
  font-size: 18px;
  cursor: pointer;
}

.order-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.order-input {
  width: 430px;
  height: 45px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  background-color: var(--input-bg);
  color: var(--text-color);
  padding-left: 16px;
}

.order-submit {
  width: 147px;
  height: 52px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
}

.order-form-row {
  display: flex;
  align-items: center;
  gap: 40px;
}

.order-form-row label {
  width: 100px;
  font-size: 18px;
  color: var(--text-color);
  text-align: right;
}
